@font-face {
  font-family: cooper;
  src: url(./font/Cooper.ttf);
}
@font-face {
  font-family: Gilroy;
  src: url(./font//Gilroy-Light.otf);
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: none;
  font-family: "Fraunces", serif;
  scroll-behavior: smooth;
  scroll-padding-top: 15px;
}
* ::-webkit-scrollbar {
  display: none;
}

h1, h2, h3 {
  font-family: cooper lite;
}

#main {
  height: auto;
  width: 100%;
}

.contact-button {
  position: relative;
  padding: 10px 2rem;
  border-radius: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid white;
  cursor: pointer;
  overflow: hidden;
}
.contact-button p {
  z-index: 5;
}
.contact-button img {
  margin-left: 10px;
  z-index: 15;
}
.contact-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: springgreen;
  z-index: 5;
  transition: width 0.4s ease-in-out;
  -webkit-transition: width 0.4s ease-in-out;
  -moz-transition: width 0.4s ease-in-out;
  -ms-transition: width 0.4s ease-in-out;
  -o-transition: width 0.4s ease-in-out;
}
.contact-button:hover::before {
  width: 100%;
}

.menu-button, .menu-button::before, .menu-button::after {
  display: inline-table;
}

#page1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 7rem;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
#page1 h1 {
  color: rgb(33, 32, 32);
  font-size: 4rem;
  text-align: center;
  width: 60%;
  z-index: 99;
}
#page1 h3 {
  display: inline-block;
  font-size: 1.2rem;
}
#page1 h3 button {
  display: inline;
  padding: 2px 1rem;
  border: 2px solid black;
  background-color: transparent;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
#page1 h3 button img {
  padding-top: 2px;
}
#page1 h3 button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: springgreen;
  z-index: -1;
  transition: width 0.4s ease-in-out;
  -webkit-transition: width 0.4s ease-in-out;
  -moz-transition: width 0.4s ease-in-out;
  -ms-transition: width 0.4s ease-in-out;
  -o-transition: width 0.4s ease-in-out;
}
#page1 h3 button:hover {
  cursor: pointer;
}
#page1 h3 button:hover::after {
  width: 100%;
}

#a img {
  position: absolute;
  left: 10%;
  top: 0;
  border: none;
}

#b img {
  position: absolute;
  top: 0;
  right: 25%;
}

#c img {
  position: absolute;
  top: 40%;
  right: 15%;
  background-size: contain;
}

#page2 {
  position: relative;
  width: 100%;
  padding: 10% 20px;
  margin: 0;
  height: 70vh;
  background-color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 5% 9.8%;
}
#page2 h1 {
  height: auto;
  padding-top: 5%;
  font-size: 2rem;
  z-index: 3;
}
#page2 h1 #diff::after {
  content: "";
  position: absolute;
  height: auto;
  width: 13rem;
  overflow: visible;
  left: 31%;
  top: 54%;
  z-index: 2;
  overflow: visible;
  background-image: url("/assets/img/arb ciecle.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
#page2 h2 {
  height: auto;
  font-size: 1.8rem;
  font-weight: 500;
}
#page2 h3 {
  font-size: 1.5rem;
  padding-top: 5%;
  font-weight: 400;
}

#page3 {
  position: relative;
  width: 100vw;
  height: 110vh;
  top: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
#page3 ::-webkit-scrollbar {
  display: none;
}
#page3 #pgleft {
  position: relative;
  width: 50%;
  height: 100%;
  padding: 0;
  margin: 0;
}
#page3 #pgleft #aa {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
#page3 #pgleft #bb {
  position: absolute;
  top: 70%;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
#page3 #pgleft #cc {
  position: absolute;
  top: 0%;
  right: 10%;
  -o-object-fit: cover;
     object-fit: cover;
}
#page3 #pgleft #dd {
  position: absolute;
  bottom: 0;
  right: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
#page3 #pgright {
  position: relative;
  height: 100%;
  width: 50%;
  padding: 5% 5%;
  margin: 0;
}
#page3 #pgright h2 {
  font-size: 3rem;
}
#page3 #pgright h2 #sol {
  z-index: 3;
}
#page3 #pgright h2 #sol::after {
  content: "";
  position: absolute;
  width: 12.4rem;
  height: 2rem;
  left: 26%;
  top: 14%;
  rotate: -3deg;
  z-index: -1;
  background-image: url(/assets/img/green.svg);
}
#page3 #pgright p {
  padding: 10% 10% 0 0;
  font-size: 1.3rem;
}
#page3 #pgright #info {
  position: relative;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  height: 30vh;
  overflow: visible;
}
#page3 #pgright #info img {
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
#page3 #pgright #info button {
  height: 3rem;
  width: -moz-fit-content;
  width: fit-content;
}
#page3 #pgright #info button p {
  padding: 10px 0;
}

#page4 {
  height: 500px;
  width: 100%;
}
#page4 .swiper {
  width: 100%;
  height: 100%;
  padding: 3%;
}
#page4 .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  position: relative;
  z-index: 99;
}
#page4 .swiper .swiper-slide img {
  display: block;
  min-width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
#page4 .swiper .swiper-slide h2 {
  max-height: auto;
  font-family: "cooper";
  font-size: 2.5rem;
  width: 80%;
  padding: 2%;
}
#page4 .swiper .swiper-slide h5 {
  position: relative;
  max-height: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 10px 0;
}
#page4 .swiper .swiper-slide h5::before {
  content: " ";
  position: absolute;
  left: -15%;
  top: 4px;
  overflow: visible;
  z-index: 9;
  height: 10px;
  width: 10px;
  background-color: springgreen;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
#page4 .swiper .swiper-slide p {
  color: rgb(116, 114, 114);
}

#patner {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
#patner h1 {
  font-family: cooper;
  font-size: 3.5rem;
  font-weight: bold;
  text-align: center;
  padding: 5% 10%;
}
#patner #brands {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  flex-wrap: wrap;
  flex-basis: 30%;
  width: 70%;
  margin: auto;
  row-gap: 8rem;
  -moz-column-gap: 150px;
       column-gap: 150px;
}
#patner #brands img {
  max-width: 150px;
  height: auto;
}

#blogs {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  -moz-column-gap: 2em;
       column-gap: 2em;
}
#blogs .blog {
  border-radius: 10px;
  position: relative;
  padding-left: 40px;
  padding-top: 30px;
}
#blogs .blog:hover {
  cursor: pointer;
}
#blogs .blog:hover .contact-button::before {
  width: 100%;
}
#blogs .blog img {
  height: 60px;
  width: auto;
}
#blogs .blog h2 {
  padding: 25% 0 4% 0;
  color: white;
  font-size: 1.8rem;
  font-family: cooper;
}
#blogs .blog h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  justify-content: flex-start;
  color: white;
  font-family: Gilroy;
}
#blogs .blog h3 .blog-button {
  width: auto;
  padding: 5px 10px;
  border-radius: 15px;
  background: transparent;
  border-color: white;
}
#blogs .blog h3 .blog-button img {
  height: 20px;
  width: auto;
}
#blogs #post1 {
  width: 650px;
  height: 500px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.8) 100%), url("/assets/img/Golf.webp");
  background-position: center;
  background-size: cover;
}
#blogs #post2 {
  width: 650px;
  height: 500px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.8) 100%), url("/assets/img/work-thumbnail-03.webp");
  background-position: center;
  background-size: cover;
}

#page5 {
  position: relative;
  height: 400px;
  width: 100%;
  overflow: visible;
}
#page5 #backimg {
  border-radius: 10px;
  position: absolute;
  top: 100px;
  left: 200px;
  overflow: visible;
  z-index: 99;
  width: 70%;
  margin: auto;
  padding: 30px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.4) 100%), url("/assets/img/This-is-digital-LOW-RES-23.webp");
  background-position: center;
  background-repeat: no-repeat;
}
#page5 #backimg h2 {
  font-family: cooper;
  font-size: 2.1rem;
  text-align: center;
  color: white;
  padding: 5% 8%;
}
#page5 #backimg #new {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
#page5 #backimg #new img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
#page5 #backimg #new h3 {
  font-family: Gilroy;
  font-weight: bolder;
  font-size: 2.1rem;
  color: white;
}
#page5 #backimg #new button p {
  font-size: 1rem;
}

.footer {
  position: relative;
  padding: 5%;
  z-index: 98;
  color: white;
  background-color: black;
  height: 400px;
  display: grid;
  align-items: flex-end;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: ". . . . .";
}
.footer h1 {
  font-family: "Fraunces", serif;
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 10%;
}
.footer #small {
  align-self: flex-start;
  font-size: 1.6rem;
}
.footer h3 {
  font-size: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 5%;
}
.footer h3:hover {
  -webkit-text-decoration: underline green;
          text-decoration: underline green;
  cursor: pointer;
}
.footer #first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 10%;
  padding: 0 20%;
  justify-content: flex-start;
}
.footer #fifth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 10%;
  justify-content: flex-start;
  align-items: flex-start;
}

@media screen and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  #page1 {
    margin: 0;
    margin-top: 140px;
    padding: 0;
    flex-direction: column;
  }
  #page1 h1 {
    font-family: cooper;
    width: 100%;
    font-size: 3rem;
    position: absolute;
    top: 0;
    color: black;
    -webkit-text-stroke: 2px difference;
  }
  #page1 h3 {
    font-size: 2rem;
  }
  #page1 #a {
    display: none;
  }
  #page1 #b {
    display: none;
  }
  #page1 #c {
    display: flex;
    justify-content: center;
    align-items: center;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  #page1 #c img {
    width: 70%;
    height: auto;
    padding-bottom: 10px;
  }
  #page2 {
    height: auto;
  }
  #page2 h3 {
    font-size: 1.4rem;
  }
  #page2 h1 {
    font-family: cooper;
    font-size: 2rem;
    height: auto;
  }
  #page3 {
    position: relative;
    flex-direction: column;
    height: auto;
  }
  #page3 #pgright {
    font-size: 70%;
    width: 90%;
    height: auto;
  }
  #page3 #pgright #info {
    height: 20vh;
  }
  #page3 #pgright #info img {
    height: auto;
  }
  #page3 #pgright #info h3 {
    font-size: 1rem;
  }
  #page3 #pgright #info button p {
    font-size: 1rem;
  }
  #page3 #pgleft #aa, #page3 #bb, #page3 #cc {
    display: none;
  }
  #page3 #pgleft #dd {
    display: block;
  }
  #page4 {
    position: relative;
    overflow: hidden;
  }
  #page4 .swiper .swiper-slide {
    margin-top: 10px;
    margin: 10px 0;
  }
  #page4 .swiper .swiper-slide h2 {
    margin-top: 10px;
    font-size: 1.4rem;
    width: 80%;
  }
  #page4 .swiper .swiper-slide h5 {
    font-weight: 100;
  }
  #page4 .swiper .swiper-slide img {
    height: 56px;
    width: auto;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  #patner h1 {
    font-size: 2rem;
    display: inline-block;
  }
  #patner #brands {
    display: flex;
    justify-content: center;
    align-items: center;
    -moz-column-gap: 10px;
         column-gap: 10px;
    height: 300px;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
    row-gap: 1.8rem;
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
  #patner #brands img {
    max-width: 130px;
    height: auto;
  }
  #blogs {
    position: relative;
    flex-direction: column;
    row-gap: 50px;
    height: auto;
    width: 90%;
    margin: auto;
  }
  #blogs .blog {
    height: auto;
  }
  #blogs .blog h2 {
    padding: 20% 2%;
  }
  #blogs .blog h3 {
    padding: 2%;
  }
  #blogs #post1 {
    width: auto;
  }
  #blogs #post2 {
    width: auto;
  }
  #page5 {
    position: relative;
  }
  #page5 #backimg {
    border: 3px solid white;
    width: 90%;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    left: 5%;
  }
  #page5 #backimg h2 {
    font-size: 1.5rem;
  }
  #page5 #backimg #new img {
    height: 40px;
    width: 50px;
  }
  #page5 #backimg #new h3 {
    font-size: 1rem;
  }
  #page5 #backimg #new h3 button .contact-button {
    width: 100px;
  }
  #page5 #backimg #new h3 button .contact-button img {
    height: 20px;
    width: auto;
  }
  #page5 #backimg #new h3 button .contact-button p {
    font-size: 1rem;
  }
  .footer {
    padding-top: 3rem;
    position: relative;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-areas: ".";
  }
  .footer #fifth {
    display: flex;
    justify-content: center;
    align-items: center;
    -moz-column-gap: 10px;
    column-gap: 10px;
    position: absolute;
    right: 8%;
    top: 26%;
    height: 55vh;
    z-index: 99;
  }
}
.top-nav {
  top: 0;
  height: 4rem;
  position: sticky;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: white;
  z-index: 999;
  color: black;
  height: 70px;
  padding: 1em;
}
.top-nav:hover {
  cursor: pointer;
}

#logo {
  position: sticky;
  left: 0;
  width: 300px;
  padding: 1.3rem 0 0 5rem;
  z-index: 99;
}
#logo img {
  width: 170px;
  height: 50px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
  font-weight: bold;
  font-family: Gilroy;
}
.menu > li a {
  text-decoration: none;
  color: black;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: inline-table;
  background-color: black;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  background-color: black;
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
  background-color: black;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
  background-color: white;
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
  background-color: white;
}

@media (max-width: 768px) {
  .top-nav {
    height: auto;
    width: 100%;
    padding: 0;
    margin: 0;
    position: fixed;
  }
  .top-nav .logo {
    position: absolute;
    left: 0;
    top: 10%;
    padding: 0;
    width: 100%;
  }
  .top-nav .logo img {
    width: auto;
    position: fixed;
  }
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    z-index: 99991;
    display: inline-table;
    background-color: black;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  .menu-button-container {
    display: flex;
  }
  .menu {
    z-index: 9999;
    position: fixed;
    top: 0;
    margin-top: 10px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: auto;
    color: white;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li a {
    color: white;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}/*# sourceMappingURL=style.css.map */